<main class="main">
  @if (counter$ | async; as counter) {
    <span>Counter value: {{ counter.counter }}</span>
  }
  <div class="buttons">
    <button (click)="onIncrease()">Increase</button>
    <button (click)="onDecrease()">Decrease</button>
    <button (click)="onReset()">Reset</button>
  </div>
  <input #value type="text" name="text" id="text">
  @if (input$ | async; as state) {
    <span>Saved text: {{state.word}}</span>
  }
  <div class="buttons">
    <button (click)="onSaveText(value.value)">Save text</button>
    <button (click)="onResetText()">Reset text</button>
  </div>
</main>
<router-outlet/>
